{% load static %}

<div class="imageBox">
    <div class="gallery">
        <video id="video-{{ forloop.counter }}" class="video-js vjs-default-skin"
               controls="true"
               autoplay="false"
               preload="none"
               fluid="true"
               poster="/static/images/loading/loading-video.jpg"
               data-setup='{}'>
            <source src="{{ sequence.movie.video_stream_url }}" type="video/mp4">
            <track src="/static/web-subtitles/{{ sequence.movie.id }}.vtt" kind="captions" srclang="en" label="English"
                   default>
        </video>
        <div class="desc">{{ sequence.movie.title1 }}</div>
    </div>
</div>

<script>
    function load_video() {
        var player = videojs('video-{{ forloop.counter }}', {});
        players.push(player)
        player.controlBar.progressControl.disable();
        player.currentTime({{ sequence.start_time }});
        player.ready(function () {
            player.currentTime({{ sequence.start_time }});
            {% if forloop.counter == 1 %}
                player.play();
            {% endif %}
            player.on('timeupdate', function () {
                if (player.currentTime() >= {{ sequence.end_time }}) {
                    player.currentTime({{ sequence.start_time }});
                    player.play();
                }
            });
        });
    }

    load_video();
</script>